  <div class="row">
    <div class="large-7 large-centered columns">
      <div class="form-containers">

    	<div class="form-header-container">
        <div class="large-12 columns  form-header">
          <h1 class="text-center">New user</h1>
        </div>
      </div>

        <%= render 'form' %>

      </div>
    </div>

  </div>


<%= link_to 'Back', users_path %>
