<!-- <p>
  <audio controls><source src="<%#= @tag.audio %>" type="audio/mpeg"></audio>
</p> -->

  <p>
    <strong>Audio:</strong><br>
    <audio controls><source src="<%= @tag.audio %>" type="audio/mpeg"></audio>
  </p>