<!-- <p>
  <iframe width="560" height="315" src="//<%#= @tag.video %>"frameborder="0" allowfullscreen></iframe>
</p> -->

  <p>
    <strong>Video:</strong>
    <iframe width="560" height="315" src="//<%= @tag.video %>"frameborder="0" allowfullscreen></iframe>
  </p>
