/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "animate";
@import "li-scroller";
@import "demo";
@import "fadeThrough";

@import url(http://fonts.googleapis.com/css?family=Roboto);

$padding: 10px;


.padding-10 {
	padding-top: $padding;
} 

main {
	background: none;
}

body {
	background: #1abc9c;
}

.top-bar {
	background: none;

	.name a:hover {
		background: none!important;
	}
}

.top-bar-section ul li {
	background: none!important;
}

div#header {
	width: 100%;
	text-align: center;
	margin-top: 5%;
	position: relativ

		h1,h2 {
			color: #fff;
			display: inline-block;
			font-family: 'Roboto', sans-serif;
		}

		h1 {
			font-size: 75px;
			color: #ecf0f1;
			margin-bottom: -20px;
			border-top: 2px solid #ecf0f1;
			border-bottom: 2px solid #ecf0f1;
			padding: 2% 0;
		}

		.content {
			margin: 5px 150px;

			h2 {
				font-size: 55px;
				margin-top: 30px;
				color: #ecf0f1;
			}
		}


		.tickercontainer {
			margin-left: 26.50%;
		}
}

.panel {
	background: none;
	border: none;
}


.item p {
	text-align: center;
	font-size: 20px;
}

form label {
	font-size: 16px;
	font-weight: bold;
}


.tag {
	background: rgba(255, 255, 255,.5);
	padding: 20px;
	border-radius: 15px;
}

.visible_sm {
		display: none;
}


@media screen and (max-width: 768px) {
	audio, iframe {
		width: 80%;
		margin: 0 auto;
	}

	.visible_sm {
		display: none;
}

}


@media screen and (max-width: 460px) {
	audio{
		width: 80%;
		margin: 0 auto;
	}

	.hidden_sm {
		display: none;
	}

	.visible_sm {
		display: block;
	}
}

	